# Browser-safe AGS configuration. Public IAM clients do not use a secret.
ACCELBYTE_BASE_URL=https://936895-314916.gamingservices.xsolla.com
ACCELBYTE_NAMESPACE=936895-314916
ACCELBYTE_CLIENT_ID=291237b16de94414b4ee07760af794d9
ACCELBYTE_MATCH_SERVICE_URL=https://936895-314916.gamingservices.xsolla.com/ext-936895-314916-mahjong-match-service
MATCH_RUNTIME_EVENT_LOG=tmp/match-events.jsonl
ACCELBYTE_MATCH_POOL=mahjong-test-pool
ACCELBYTE_SESSION_TEMPLATE=mahjong-test-none
ACCELBYTE_SESSION_CLIENT_VERSION=web-0.0.0
ACCELBYTE_PARTY_TEMPLATE=mahjong-party
