AB_BASE_URL=https://gameswithout-mahjong.prod.gamingservices.accelbyte.io
AB_NAMESPACE=gameswithout-mahjong
AB_CLIENT_ID=
AB_CLIENT_SECRET=
PLUGIN_GRPC_SERVER_AUTH_ENABLED=true
BASE_PATH=/mahjong
MATCH_TEST_ROSTER=
MATCH_TEST_USER_ID=
JADE_CURRENCY_CODE=JADE
JADE_WALLET_MIRROR_ENABLED=true
SQLDB_HOST=localhost:5432
SQLDB_USERNAME=postgres
SQLDB_PASSWORD=postgres
SQLDB_DATABASE_NAME=mahjong_match
SQLDB_CA_CERT_FILE_PATH=
OTEL_EXPORTER_ZIPKIN_ENDPOINT=
